{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<div class="resources-list">
    <article class="resource-index">
        <h1>{{ .Params.title }}</h1>
        
        <!-- Add the _index.md content at the top -->
        {{ with .Content }}
        <div class="section-description">
            {{ . }}
        </div>
        {{ end }}
    </article>
    {{ range .Pages.ByDate }}
    <article class="resource-item">
        <h2 class="listing-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ if .Params.due_date }}
            <div class="due-date">Due: {{ .Params.due_date | time.Format "January 2, 2006" }}</div>
        {{ end }}
        <!-- {{ with .Content }}
            {{ $paragraphs := split . "<p>" }}
            {{ range $index, $paragraph := $paragraphs }}
                {{ if and (gt $index 0) (not (findRE "^\\s*$" $paragraph)) }}
                    <div class="summary">
                        {{ $paragraph | replaceRE "</p>.*" "" | markdownify | safeHTML }}
                    </div>
                    {{ break }}
                {{ end }}
            {{ end }}
        {{ end }} -->
        {{ with .Content }}
            {{ $firstParagraph := findRE "<p>(.|\n)*?</p>" . 1 }}
            {{ range $firstParagraph }}
                <div class="summary">
                    {{ . | replaceRE "</?p>" "" | markdownify | safeHTML }}
                </div>
            {{ end }}
        {{ end }}
        <div class="read-more">
            <a href="{{ .RelPermalink }}" aria-label="Read more about {{ .Title }}">Read more →</a>
        </div>
    </article>
    {{ end }}
</div>
{{ end }}
